<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando imagens na página.</title>
</head>
<body>
    <h1>Nesse exercício vou adicionar imagens na minha página.</h1>
    <hr>
    <p>Para adicionar imagens na página </p>
    <img src="{{asset('pictures/logo_html5.png')}}" alt="Logo HTML5">
    <br>
    <img src="{{asset('pictures/logo_css3.png')}}" alt="Logo CSS3">
    
    
</body>
</html>-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando imagens na página.</title>
</head>
<body>
    <h1>Nesse exercício vou adicionar imagens na minha página.</h1>
    <hr>
    <h2>Para adicionar imagens locais</h2>
    <img src="logo_css3.png" alt="Logo CSS3">
    <img src="logo_html5.png" alt="Logo HTML5">
    <img src="logo_html5_2.png" alt="Logo HTML5 2">
    <hr>
    <br>
    <h2>Para adicionar imagens externas, que estão na internet.</h2>
    <img src="https://freesvg.org/img/1643312539html5.png" alt="Logo HTML5 2">
    
</body>
</html>