<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 03</title>
</head>
<body>
    <h1>Testando o titulo do site</h1>
    <hr> <!--Testando comentário dentro do código-->
    <p>Testando linha acima</p>
    <p>Testando o parágrado com quebra <br> de linha.</p>
    <p>Testando o caractere menor &lt; e maior &gt;</p>
    <p>Para fazer um comentário dentro do código coloque tudo dentro da tag &lt;!-- --&gt;</p>
</body>
</html>