<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu site html</title>
</head>
<body>
    <p>Para fazer um titulo coloque dentro da tag &lt;h1&gt;  &lt;/h1&gt;</p>
    <h1>Testando o titulo do site</h1>
    <hr>
    <p>Você pode escrever um parágrafo de qualquer jeito. Basta colocar tudo no meio do par de tags &lt;p&gt;  &lt;/p&gt;</p>
    <p>Testando parágrafo</p>
    <hr>
    <p>Para fazer um quebra de linha use a tag &lt;br&gt;</p>
    <p>Testando quebra de linha <br> aqui nessa parte. </p>
    <hr>
    <p>Para criar uma linha abaixo de um parágrafo uso a tag &lt;hr&gt;</p>
    <hr>
    <p>Para fazer um comentário dentro do código coloque tudo dentro da tag &lt;!-- --&gt;</p>
    <p>Teste</p>
</body>
</html>