/* Definindo todos os h1 na cor abaixo. */
h1{
    color: black;
}
/* Definindo todos os parágrafos na cor abaixo. */
p{
    color: blue;
}
/* Criando uma classe com nome amarelo. */
.amarelo{ 
    color: rgb(168, 168, 26);
}
