@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); /* importado do google fontes */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Criando uma classe com nome amarelo. */
.amarelo{ 
    color: rgb(168, 168, 26);
}

/* Criando variável global e definindo a fonte de todo o site*/
* {
    font-family: 'Roboto Condensed', sans-serif;
    
    
}
/* Definindo um fundo com degrade para direite com duas cores */
body {
    background-image: linear-gradient(to right, #3DBCD9, #8DE8F2);
    font-size: 1em; /* tamanho da fonte */
    
}

/* Deinindo o fundo do main como branco, tamanho de 1200px uma borda de 10px e um alinhamento central automático */
main {
    background-color: white; /* cor de fundo */
    border-radius: 10px; /* raio da borda */
    box-shadow: 5px 5px 15px #277d90ba; /* Sombra da caixa */
    width: 1200px; /* largura */
    padding: 10px; /* preenchimento */
    margin: auto;   /* margem */
}

/* Definindo a cor do h1 posição central e borda */
h1 {
    color: #BF9075;
    text-align: center; /* alinhamento do texto */
    text-shadow: 1px 1px 0px #81614fc3; /* sombra do texto */
}

/* Definindo a cor do h2 */
h2 {
    color: #F2B705;
}

h2#alinhamento{
    text-align: right;
}

/* Todos os parágrados justificados */
p {
    text-align: justify;
    text-indent: 30px; /* Para fazer um recuo na primeira linha do parágrafo */

}

/* Criei um id para modificar um paragrafo específico */
p#principal { 
    /* font-family: 'Dancing Script', sans-serif; */ /* importei a fonte Dancing Script do google fontes */
    /* font-weight: bolder; */ /* espessura da fonte */
    /* font-size: 2em; */
    /* font-style: italic; */ /* estilo da fonte */
    /* text-decoration: underline; */ /* decoração de texto */
    
    /* fazendo uma shorthand - sequencia - font-size -> font-weight -> font-size -> font-family */
    font: italic bolder 2em 'Dancing Script';
    text-align: justify;

}

/* Quebra de linha na tag pre, porém não funcionou */
pre {
    word-wrap: break-word; /* quebra de linha */
    overflow-wrap: break-word; 
  }


