@charset "UTF-8";

/* Criando uma classe com nome amarelo. */
.amarelo{ 
    color: rgb(168, 168, 26);
}

/* Criando variável global*/
* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


body {

}
